.container {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.form-element {
  margin: 5px;
  min-width: 200px;
  display: flex;
}

.form-label {
  min-width: 150px;
}

.id-card-container {
  display: block;
}

.card-container {
  width: 90vw;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  background: #fceeb5;
  font-family: Abel, Arial, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  width: 80vw;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  display: flex;
}

.user-card {
  width: 30vw;
  height: 100%;
  position: relative;
  background: linear-gradient(#92bca6, #a2ccb6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-information {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-photo {
  font-size: 7em;
}

.card-element {
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-name {
  font-size: 1.5rem;
}

.college-name {
  font-size: 1.2rem;
}
